@import "../../styles/styleguide.scss";


.navBar{
    @include flex(row,space-between,center);
    z-index: 1;
    position: fixed;
    background: $white;
    width: 100%;
    padding: em(18) em(24);
}

/*Menu*/
.menuShow{
    z-index: 5;
    position: relative;
    display: none;
    @include position(absolute, $top: 0, $left: 0, $bottom: 0);
    background: $light_black;
    min-height: 100vh;
    overflow-y:auto;
    width: 100%;
    .menuLogoClose{
        @include flex(row,space-between,center);
        padding-inline: em(16);
        background: $light_black;
        padding-top: em(23.5);
        padding-bottom: em(70.26);
        button{
            background: transparent;
            cursor: pointer;
            border: none;
        }
    }
    .menuLinks{
        padding-inline: em(16);
        background: $light_black;
        display: flex;
        gap: em(11);
        flex-direction: column;
        a{
            border-bottom: 1px solid #A3A3A3;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: $menu;
            padding-bottom: em(5);
            text-align: right;
        }
        .countrieLinks{
            display: none;
            padding-right: em(16);
            background: $light_black;
            position: absolute;
            flex-direction: column;
            h2{
                font-size: $paragraph;
                color: $light_gray;
                font-weight: 400;
                margin-bottom: em(2);
            }
            a{
                text-align: left;
                color: $white;
                font-size: $paragraph;
                margin-bottom: em(2);
                border: none;
            }
        }
    }
}
.menuShow::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menuShow::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/*Disable navbar desktop*/
.navbarDesktop{
    display: none;
}

.navLogoWhite{
    display: none;
}




/*Desktop*/
@media  screen and (min-width:1024px) {
    /*NavBar*/
    .navBar{
        background: $light_black;
        padding: em(45) em(96);
    }
    .navLogoWhite{
        display: block;
    }
    .navLogoBlack{
        display: none;
    }
    .navbarDesktop{
        display: flex;
        align-items: center;
        .navbarLinks{
            display: flex;
            gap: em(45);
            align-items: center;
            a{
                display: block;
                color: $white;
                font-size: $uppercase;
                text-decoration: none;
                text-transform: uppercase;
            }
            a:hover{
                transition: all 0.3s ease;
                text-decoration: underline;
                text-underline-offset: 0.25em;
                text-decoration-thickness: 0.075em;
            }
        }
        button{
            margin-left: 6em;
        }
    }
    .menuShow{
        .menuLinks{
            a{
                font-size: $menu_desktop;
            }
            .countrieLinks{
                display: flex;
            }
        }
    }
    .mobileHamburger{
        display: none;
    }

}   