@import "../../styles/styleguide.scss";


.hero{
    background: url("../../public/images/hero-mobile.png");
    @include background(cover);
    min-height: 515px;
    .heroText{
        width: 100%;
        padding-top: 12.4em;
        padding-inline: em(15);
        padding-bottom: em(39);
        p{
            text-transform: uppercase;
            color: $white;
            font-size: $paragraph;
            margin-bottom: em(28);

        }
        h1{
            color: $white;
            font-size: $header;
            font-weight: 400;
            line-height: 34px;
        }
    }
}

/*Desktop*/
@media screen and (min-width:1024px){
    .hero{
        position: relative;
        background: url("../../public/images/hero_desktop.png");
        @include background(cover,center);
        min-height: 628px;
        .heroText{
            @include position(absolute, $bottom: 0);
            padding-bottom: em(109.63);
            padding-left: em(56);
            h1{
                max-width: 560px;
                font-size: $header;
            }
        }
    }
}