@import "./styleguide.scss";
@font-face {
  font-family: 'MaisonNeue';
  src: url('../public/fonts/MaisonNeueTRIAL-Book.otf') format('woff2');
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: -webkit-fill-available;
}

body{
  font-family: "MaisonNeue",sans-serif;
}

h1{
  font-size: $header;
}

h2{
  font-size: $header2;
}

p,a,li,button{
  list-style: none;
  text-decoration: none;
  font-size: $paragraph;
}

button{
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
