/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*Colors*/
$black: #121212;
$light_black: #0E0E0E;
$white: #FFFFFF;
$light_gray: #A3A3A3;
$dark_gray: #808080;
$red: #FF2929;
$purple: #5115F7;

/*Font sizes*/
/*Desktop
$header1: 3rem;
$header2: 2.2rem;
$paragraph: 1rem;
$uppercase: 1.125rem;
$menu: 4.3rem;
*/
/*Mobile*/
$header: 2.1rem;
$header2: 1.6rem;
$menu: 2.2rem;
$paragraph: 1rem;
$uppercase: 1.125rem;
$small: 0.8rem;
