@import "../../styles/styleguide.scss";

.workSelection{
  @include flex(row,space-between);
  padding: 2em 1em;
  background: $light_black;
  font-size: $paragraph;
  color: $light_gray;
  select {
    font-size: $paragraph;
    appearance: none;
    background-color: transparent;
    border: none;
    margin-left: 0.2em;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    option{
      font-size: 2rem;
      background: $white;
      min-width: 500px;
      color: black;
    }
  }
}

/*Desktop*/
@media  screen  and (min-width:1024px) {
    .workSelection{
      padding: 2em;
      background: $white;
      font-size: $header2;
      select{
        font-size: $header2;
        color: $black;
        text-decoration: underline;
      }
    }
    .workGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        select{
          font-size: $header2;
        }
    }
}